@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import 'tailwindcss';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@theme {
    --font-sans:
        'Plus Jakarta Sans', ui-sans-serif, system-ui, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';

    --color-primary: #2E5AA7;
    --color-primary-medium: #5C84D1;
    --color-primary-light: #DFE7F6;
    --color-secondary: #FF9C13;
    --color-secondary-medium: #FFC16C;
    --color-secondary-light: #FFF3E2;
    --color-tertiary: #F8E6A0;
    --color-on-primary: #FFFFFF;
}

@layer components {
    .btn {
        @apply text-base inline-flex gap-3 px-6 py-3 justify-center cursor-pointer text-center rounded-2xl;
    }

    .input-field {
        @apply mt-1 block w-full px-3 py-3 rounded-2xl border-gray-300 outline-0 shadow-sm border focus:outline-[1px];
    }
}

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        margin: 0;
        padding: 0;
    }

    :root {
        font-family: 'Plus Jakarta Sans', sans-serif;
    }
}
